{{ ansible_managed | comment }}
127.0.0.1 localhost {% for appli in hostvars[inventory_hostname]['group_names'] |sort %}{% if appli[0:3] == 'app' %}{{ appli[4:]
}} {{ appli[4:] }}.{{ dc_domain_name }} {% endif %}{% endfor %}

127.0.1.1 {{ ansible_hostname }}

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
