" {{ ansible_managed }}

set showcmd		    " Show (partial) command in status line.
set showmatch		" Show matching brackets.
set ignorecase		" Do case insensitive matching
set smartcase		" Do smart case matching
set incsearch		" Incremental search
set autowrite		" Automatically save before commands like :next and :make
set hidden          " Hide buffers when they are abandoned
"set mouse=a		" Enable mouse usage (all modes)
set modeline
set number
set t_Co=256

colorscheme koehler
set encoding=utf-8     " Like system locales
set hlsearch           " Surligne les termes recherchés
set softtabstop=4 shiftwidth=4 expandtab " Options d'indentations et de mise en forme
set pastetoggle=<F2> " Enable autoindent when pressing F2

" Configuration pour HTML
augroup HTML
    autocmd BufReadPre *.html set softtabstop=2 shiftwidth=2 expandtab
augroup END

" Configuration pour du Shell
augroup Bash
    autocmd BufReadPre *.sh set softtabstop=2 shiftwidth=2 expandtab
augroup END

" Highlight unwanted trailing whitespaces
highlight ExtraWhitespace ctermbg=red guibg=red
autocmd ColorScheme * highlight ExtraWhitespace ctermbg=red guibg=red
match ExtraWhitespace /\s\+$/

" Disable Visual mode when using the mouse on Debian 9 and above
set mouse-=a
