<?php
/* {{ ansible_managed }} */

// +-----------------------------------------------------------------------+
// |                            téléchargement                             |
// +-----------------------------------------------------------------------+

// On parle ici du téléchargement par HTTP accessible optionnellement aux
// utilisateurs.

// upload_maxfilesize: poids maximum des images à télécharger, en kilo
// octets.
$conf['upload_maxfilesize'] = 10000;

// upload_maxheight : hauteur maximum des images à télécharger, en pixels.
$conf['upload_maxheight'] = 5000;

// upload_maxwidth : largeur maximum des images à télécharger, en pixels.
$conf['upload_maxwidth'] = 5000;

// upload_maxheight_thumbnail : hauteur maximum des miniatures.
$conf['upload_maxheight_thumbnail'] = 128;

// upload_maxwidth_thumbnail : largeur maximum des miniatures.
$conf['upload_maxwidth_thumbnail'] = 128;




?>
