<?php
/* {{ ansible_managed }} */

$conf['dblayer'] = 'mysqli';
$conf['db_base'] = '{{ mariadb_piwigo_dbname }}';
$conf['db_user'] = '{{ mariadb_piwigo_dbuser }}';
$conf['db_password'] = '{{ mariadb_piwigo_dbpassword }}';
$conf['db_host'] = '{{ mariadb_piwigo_dbhost }}';

$prefixeTable = 'piwigo_';

define('PHPWG_INSTALLED', true);
define('PWG_CHARSET', 'utf-8');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

?>