{% if 'imap' in dovecot_protocols %}
service imap-login {
  inet_listener imap {
    address = {{ dovecot_listen | join(",") }}
    port = {{ dovecot_imap_port }}
  }
  inet_listener imaps {
    address = {{ dovecot_listen | join(",") }}
    port = {{ dovecot_imaps_port }}
    ssl = yes
  }
  process_limit = 512
  service_count = 1
  process_min_avail = 1
}
{% endif %}
{% if 'pop3' in dovecot_protocols %}
service pop3-login {
  inet_listener pop3 {
    address = {{ dovecot_listen | join(",") }}
    port = {{ dovecot_pop3_port }}
  }
  process_limit = 512
  process_min_avail = 1
  service_count = 1
  inet_listener pop3s {
    address = {{ dovecot_listen | join(",") }}
    port = {{ dovecot_pop3s_port }}
    ssl = yes
  }
}
{% endif %}
{% if 'lmtp' in dovecot_protocols %}
service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0600
    user = postfix
  }
}
{% endif %}
{% if 'imap' in dovecot_protocols %}
service imap {
  process_limit = 512
}
{% endif %}
{% if 'pop3' in dovecot_protocols %}
service pop3 {
  # Max. number of POP3 processes (connections)
  process_limit = 1024
}
{% endif %}
service auth {
  # auth_socket_path points to this userdb socket by default. It's typically
  # used by dovecot-lda, doveadm, possibly imap process, etc. Users that have
  # full permissions to this socket are able to get a list of all usernames and
  # get the results of everyone's userdb lookups.
  #
  # The default 0666 mode allows anyone to connect to the socket, but the
  # userdb lookups will succeed only if the userdb returns an "uid" field that
  # matches the caller process's UID. Also if caller's uid or gid matches the
  # socket's uid or gid the lookup succeeds. Anything else causes a failure.
  #
  # To give the caller full permissions to lookup all users, set the mode to
  # something else than 0666 and Dovecot lets the kernel enforce the
  # permissions (e.g. 0777 allows everyone full permissions).
  unix_listener auth-userdb {
    #mode = 0666
    #user = 
    #group = 
  }
{% if dovecot_postfix_smtp_auth %}
  # Postfix smtp-auth
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
{% else %}
  # Postfix smtp-auth
  #unix_listener /var/spool/postfix/private/auth {
  #  mode = 0666
  #}
{% endif %}

  # Auth process is run as this user.
  #user = $default_internal_user
}

service auth-worker {
  # Auth worker process is run as root by default, so that it can access
  # /etc/shadow. If this isn't necessary, the user should be changed to
  # $default_internal_user.
  #user = root
}

service dict {
  # If dict proxy is used, mail processes should have access to its socket.
  # For example: mode=0660, group=vmail and global mail_access_groups=vmail
  unix_listener dict {
    #mode = 0600
    #user = 
    #group = 
  }
}

service anvil {
  client_limit = 1024
}

# Outlook Express and Windows Mail works only with LOGIN mechanism, not the standard PLAIN:
auth_mechanisms = plain login