# {{ ansible_managed }}
## Dovecot configuration file

# Enable installed protocols
!include_try /usr/share/dovecot/protocols.d/*.protocol
protocols = {{ dovecot_protocols | join(' ') }}

# A comma separated list of IPs or hosts where to listen in for connections. 
listen = {{ dovecot_listen | join(', ') }}

# Base directory where to store runtime data.
base_dir =  {{ dovecot_base_dir }}

# Name of this instance.
instance_name = {{ dovecot_instance_name }}

# Greeting message for clients.
login_greeting = {{ dovecot_login_greeting }}

# Space separated list of trusted network ranges.
#login_trusted_networks =

# Space separated list of login access check sockets (e.g. tcpwrap)
#login_access_sockets =

# With proxy_maybe=yes if proxy destination matches any of these IPs, don't do
# proxying. This isn't necessary normally, but may be useful if the destination
# IP is e.g. a load balancer's IP.
#auth_proxy_self =

# Show more verbose process titles (in ps).
verbose_proctitle = {{ dovecot_verbose_proctitle }}

# Should all processes be killed when Dovecot master process shuts down.
shutdown_clients = {{ dovecot_shutdown_clients }}

# If non-zero, run mail commands via this many connections to doveadm server,
# instead of running them directly in the same process.
doveadm_worker_count = {{ dovecot_doveadm_worker_count }}

# UNIX socket or host:port used for connecting to doveadm server
doveadm_socket_path = {{ dovecot_doveadm_socket_path }}

##
## Dictionary server settings
##

# Dictionary can be used to store key=value lists. This is used by several
# plugins. The dictionary can be accessed either directly or though a
# dictionary server. The following dict block maps dictionary names to URIs
# when the server is used. These can then be referenced using URIs in format
# "proxy::<name>".

dict {
  #quota = mysql:/etc/dovecot/dovecot-dict-sql.conf.ext
  #expire = sqlite:/etc/dovecot/dovecot-dict-sql.conf.ext
}

# Most of the actual configuration gets included below. The filenames are
# first sorted by their ASCII value and parsed in that order. The 00-prefixes
# in filenames are intended to make it easier to understand the ordering.
!include conf.d/*.conf

# A config file can also tried to be included without giving an error if
# it's not found:
!include_try local.conf
