<?php
$AUTOCONFIG = array(
  "dbtype"               => "mysql",
  "dbname"               => "{{ mariadb_nextcloud_dbname }}",
  "dbuser"               => "{{ mariadb_nextcloud_dbuser }}",
  "dbpass"               => "{{ mariadb_nextcloud_dbpassword }}",
  "dbhost"               => "{{ mariadb_nextcloud_dbhost }}",
  "dbtableprefix"        => "",
  "adminlogin"           => "{{ nextcloud_admin_user }}",
  "adminpass"            => "{{ nextcloud_admin_password }}",
  "directory"            => "{{ nextcloud_data_path }}",
);
