<?php
$CONFIG = array (
  'trusted_domains' =>
  array (
    0 => 'localhost',
    1 => 'nextcloud.bleschet.fr',
  ),
  'trusted_proxies' =>
  array (
    0 => '127.0.0.1',
  ),
  'forwarded_for_headers' =>
  array (
    0 => 'HTTP_X_FORWARDED_FOR',
  ),
  'overwritehost' => 'nextcloud.bleschet.fr',
  'overwriteprotocol' => 'https',
  'overwrite.cli.url' => 'https://nextcloud.bleschet.fr',
  'datadirectory' => '/srv/nextcloud',
  'loglevel' => 2,
  'default_phone_region' => 'FR',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'maintenance_window_start' => 1,
  'maintenance' => false,
  'trashbin_retention_obligation' => 'auto, 15',
  'log_type' => 'file',
  'logfile' => '{{ nextcloud_log_path }}/{{ nextcloud_log_file }}',
  'log_rotate_size' => 0,
  'logtimezone' => 'Europe/Paris',
  'theme' => '',
);
