# {{ ansible_managed }}
# The domain we want to get the cert for
domains = {{ letsencrypt_domain_to_certify | default("localhost") }}

# Key size
rsa-key-size = {{ letsencrypt_key_size }}

# LetsEncrypt Server
server = {{ letsencrypt_ca_url }}

# This address will receive renewal reminders
email = {{ letsencrypt_mail_address }}

# Turn off the ncurses UI, we want this to be run as a cronjob
text = {{ letsencrypt_text }}

{% if letsencrypt_authenticator == "webroot" %}
# authenticate by placing a file in the webroot (under .well-known/acme-challenge/) and then letting LE fetch it
authenticator = {{ letsencrypt_authenticator }}
webroot-path = {{ letsencrypt_webroot_path }}
{% endif %}

# Accept ToS
agree-tos = {{ letsencrypt_agree_tos }}

{% if letsencrypt_pre_hook %}
# Create to pre-hook to reload service
{% for command in letsencrypt_post_hook %}
pre-hook = {{ command }}
{% endfor %}
{% endif  %}
{% if letsencrypt_post_hook %}
# Create to post-hook to reload service
{% for command in letsencrypt_post_hook %}
post-hook = {{ command }}
{% endfor %}
{% endif  %}
{% if letsencrypt_renew_hook %}
# Create to renew-hook to reload service
{% for command in letsencrypt_renew_hook %}
renew-hook = {{ command }}
{% endfor %}
{% endif  %}