# {{ ansible_managed }}

biff = no
inet_interfaces = loopback-only
inet_protocols = {{ postfix_inet_protocols }}
message_size_limit = {{ postfix_message_size_limit }}
myorigin = /etc/mailname
readme_directory = no
relayhost = {{ (groups['dc_' + dc]  | intersect(groups['cmp_postfix']) | intersect(groups['app_smtprelay']) | first) |default('localhost') }}
