server {
    listen 80 default_server;
    server_name _;
{% if nginx_use_letsencrypt %}
    location /.well-known/acme-challenge/ {
        allow all;
        root {{ nginx_webroot }};
        try_files $uri =404;
    }
{% endif %}
}

