# {{ ansible_managed }}
server {
    listen 80 default_server;
    server_name _;
{% if nginx_use_letsencrypt %}
    location /.well-known/acme-challenge/ {
        allow all;
        root {{ nginx_webroot }};
        try_files $uri =404;
    }
{% endif %}
{% if nginx_use_nginx_status %}
    location /nginx_status {
        stub_status;
        allow 127.0.0.1;
        deny all;
    }
{% endif %}
}
{% if not nginx_use_letsencrypt %}
server {
    listen 443 ssl http2;
    server_name _;

    # SSL Certificates
    ssl_certificate {{ __nginx_cert_file }};
    ssl_certificate_key {{ __nginx_key_file }};
}
{% endif %}