# {{ ansible_managed }}
server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_server_name }}{% for nginx_alias in nginx_aliases %} {{ nginx_alias }}.{{ nginx_domain }}{% endfor %};
    access_log  /var/log/nginx/{{ nginx_server_name }}_http_access.log;
    error_log /var/log/nginx/{{ nginx_server_name }}_http_error.log warn;

{% if nginx_use_letsencrypt %}
    location /.well-known/acme-challenge {
        root {{ nginx_webroot }};
        allow all;
    }
{% endif %}
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen {{ nginx_ssl_port }} ssl http2;
    server_name {{ nginx_server_name }};
    access_log  /var/log/nginx/{{ nginx_server_name }}_https_access.log;
    error_log /var/log/nginx/{{ nginx_server_name }}_https_error.log warn;

    # SSL Certificates
    ssl_certificate {{ __nginx_cert_file }};
    ssl_certificate_key {{ __nginx_key_file }};

    # Enable session caching, increase session timeout
    ssl_session_cache {{ nginx_ssl_session_cache }};
    ssl_session_timeout {{ nginx_ssl_timeout }};
{% for header in nginx_headers_list %}
    add_header {{ header.name }} "{{ header.value }}";
{% endfor %}
{% if nginx_use_custom_error_page %}
    # Custom Error Pages
    proxy_intercept_errors on;

    error_page 404 @error_page;

    location @error_page {
        root /usr/share/nginx/html/;
        internal;
        rewrite ^ /error404.html;
        break;
    }
{% endif %}
    location / {
            if ($http_referer ~ ^https?://www.estamedallaesvuestra.com) {
            rewrite ^ /error404.html break;
        }
        proxy_pass http://{{ nginx_proxy_pass_host }}:{{ nginx_proxy_pass_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        client_max_body_size 10m;
        client_body_buffer_size 128k;
        proxy_connect_timeout 75;
        proxy_send_timeout 15;
        proxy_read_timeout 300;
        proxy_buffering on;
        expires 1d;
    }
{% for rewrite_rule in nginx_rewrite_rules_list %}
    {{ rewrite_rule }}
{% endfor %}
}