server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_server_name }};
{% if nginx_letsencrypt_webroot %}
    location /.well-known/acme-challenge {
        root {{ nginx_webroot }};
        allow all;
    }
{% endif %}
    location / {
        rewrite ^(.*) https://$server_name$1 permanent;
    }
}

server {
    server_name {{ nginx_server_name }};
    listen 443 ssl;

    # SSL Certificates
    ssl_certificate {{ nginx_cert_file }};
    ssl_certificate_key {{ nginx_key_file }};

    # Enable session caching, increase session timeout
    ssl_session_cache shared:SSL:20m;
    ssl_session_timeout 60m;
    #Disable SSL in favor of TLS (safer)
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    add_header X-Frame-Options "DENY";
    add_header Strict-Transport-Security "max-age=60; preload";
    add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";

    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}