<?php
/* {{ ansible_managed }} */

/* Local configuration for Roundcube Webmail */

// ----------------------------------
// SQL DATABASE
// ----------------------------------
$config['db_dsnw'] = 'mysql://{{ roundcube_db_user }}:{{ roundcube_db_password }}@{{ roundcube_db_host }}/{{ roundcube_db_name }}';


// ----------------------------------
// IMAP Configuration
// ----------------------------------
$config['default_host'] = '{{ roundcube_imap }}';

// TCP port used for IMAP connections
$config['default_port'] = {{ roundcube_imap_port }};

// Support URL
$config['support_url'] = '';

// This key is used to encrypt the users imap password which is stored
// in the session record (and the client cookie if remember password is enabled).
$config['des_key'] = '{{ roundcube_des_key }}';

// Automatically add this domain to user names for login
$config['username_domain'] = 'bleschet.fr';

// List of active plugins (in plugins/ directory)
$config['plugins'] = array();

// the default locale setting (leave empty for auto-detection)
// RFC1766 formatted language name like en_US, de_DE, de_CH, fr_FR, pt_BR
$config['language'] = 'fr_FR';

// Disable spellchecking
// Debian: spellshecking needs additional packages to be installed, or calling external APIs
//         see defaults.inc.php for additional informations
$config['enable_spellcheck'] = false;

// ----------------------------------
// LOGGING/DEBUGGING
// ----------------------------------
$config['log_dir'] = '{{ roundcube_log_folder }}';

// ----------------------------------
// TEMP files
// ----------------------------------
// use this folder to store temp files
// must be writeable for the user who runs PHP process (Apache user if mod_php is being used)
$config['temp_dir'] = '{{ roundcube_tmp_folder }}';