<?php
$dbuser='{{ roundcube_database_user }}';
$dbpass='{{ roundcube_database_password }}';
$basepath='';
$dbname='{{ roundcube_database_name }}';
$dbserver='{{ roundcube_database_host }}';
$dbport='3306';
$dbtype='mysql';