[mysqld]
#mysql settings
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_size=0
query_cache_type=0
bind-address={{ mariadb_galera_cluster_bind_address }}

[galera]
wsrep_on=ON
wsrep_node_name={{ ansible_hostname }}
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="{{ mariadb_galera_cluster_name }}"
wsrep_cluster_address="gcomm://{% for host in mariadb_galera_cluster_nodes_group %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}"

# To start failed cluster comment out above and uncomment below
# Once cluster is started revert changes and restart mysql on main node where change was made
#wsrep_cluster_address="gcomm://"
wsrep_sst_method=rsync
{% if mariadb_galera_enable_galera_monitoring_script %}
wsrep_notify_cmd='{{ mariadb_galera_monitor_script_path }}/{{ mariadb_galera_monitor_script_name }}'
{% endif %}


wsrep_provider_options="gmcast.segment={{ mariadb_galera_gmcast_segment }}"
wsrep_provider_options="ist.recv_addr={{ mariadb_galera_ist_recv_addr }}:{{ mariadb_galera_ist_recv_addr_port }}"
wsrep_provider_options="ist.recv_bind={{ mariadb_galera_ist_recv_bind }}"

wsrep_node_address="{{ mariadb_galera_wsrep_node_address }}"

