# MariaDB {{ mariadb_version }} repository list - created 2024-03-11 10:55 UTC
# https://mariadb.org/download/
X-Repolib-Name: MariaDB
Types: deb
# deb.mariadb.org is a dynamic mirror if your preferred mirror goes offline. See https://mariadb.org/mirrorbits/ for details.
# URIs: https://deb.mariadb.org/{{ mariadb_version }}/debian
URIs: https://{{ mariadb_repo }}/pub/mariadb/repo/{{ mariadb_version }}/debian
Suites: {{ ansible_distribution_release }}
Components: main
Signed-By: {{ mariadb_keyring_folder }}/{{ mariadb_keyring_file }}