[client]
#password = your_password
port = {{ mariadb_port }}
socket = {{ mariadb_socket }}

[mariadbd]
port = {{ mariadb_port }}
bind-address = {{ mariadb_bind_address }}
datadir = {{ mariadb_datadir }}
socket = {{ mariadb_socket }}
pid-file = {{ mariadb_pid_file }}
{% if mariadb_skip_name_resolve %}
skip-name-resolve
{% endif %}
tmpdir = {{ mariadb_tmpdir }}
default-storage-engine = {{ mariadb_default_storage_engine }}

# character set
character-set-server = {{ mariadb_character_set_server }}
collation-server = {{ mariadb_collation_server }}

# Logging configuration.
{% if mariadb_log_error == 'syslog' or mariadb_log == 'syslog' %}
syslog
syslog-tag = {{ mariadb_syslog_tag }}
{% else %}
{% if mariadb_log %}
log = {{ mariadb_log }}
{% endif %}
log-error = {{ mariadb_log_error }}
{% endif %}

{% if mariadb_slow_query_log_enabled %}
# Slow query log configuration.
slow_query_log = 1
slow_query_log_file = {{ mariadb_slow_query_log_file }}
long_query_time = {{ mariadb_slow_query_time }}
log_slow_verbosity = {{ mariadb_log_slow_verbosity }}
log_queries_not_using_indexes = {{ mariadb_log_queries_not_using_indexes }}
# The following option exists in mariadb but not in mariadb
{% endif %}

{% if mariadb_replication_master %}
# Replication
server-id = {{ mariadb_server_id }}
log_warnings = {{ mariadb_log_warnings }}

{% if mariadb_replication_role == 'master' %}
log_bin = {{ mariadb_log_bin }}
log-bin-index = mariadb-bin.index
expire_logs_days = {{ mariadb_expire_logs_days }}
max_binlog_size = {{ mariadb_max_binlog_size }}
binlog_format = {{ mariadb_binlog_format }}
binlog_ignore_db = mysql
binlog_ignore_db = performance_schema

{% for db in mariadb_databases %}
{% if db.replicate | default(false) %}
binlog_do_db = {{ db.name }}
{% else %}
{% if db.name_ignore is defined %}
binlog_ignore_db = {{ db.name_ignore }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if mariadb_replication_role == 'slave' %}
read_only
relay-log = relay-bin
relay-log-index = relay-bin.index
port = {{ mariadb_port }}
{% endif %}
{% endif %}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# User is ignored when systemd is used (fedora >= 15).
user = {{ mariadb_user }}

# http://dev.mariadb.com/doc/refman/5.5/en/performance-schema.html
{% if mariadb_performance_schema %}
performance_schema
{% endif %}

# Memory settings.
key_buffer_size = {{ mariadb_key_buffer_size }}
key_cache_segments = {{ mariadb_key_cache_segments }}
max_allowed_packet = {{ mariadb_max_allowed_packet }}
net_buffer_length = {{ mariadb_net_buffer_length }}
table_open_cache = {{ mariadb_table_open_cache }}
table_definition_cache = {{ mariadb_table_definition_cache }}
sort_buffer_size = {{ mariadb_sort_buffer_size }}
read_buffer_size = {{ mariadb_read_buffer_size }}
read_rnd_buffer_size = {{ mariadb_read_rnd_buffer_size }}
myisam_sort_buffer_size = {{ mariadb_myisam_sort_buffer_size }}
thread_cache_size = {{ mariadb_thread_cache_size }}
query_cache_size = {{ mariadb_query_cache_size }}
query_cache_type = {{ mariadb_query_cache_type }}
query_cache_limit = {{ mariadb_query_cache_limit }}
max_connections = {{ mariadb_max_connections }}
open_files_limit = {{ mariadb_open_files_limit }}
tmp_table_size = {{ mariadb_tmp_table_size }}
max_heap_table_size = {{ mariadb_max_heap_table_size }}
join_buffer_size = "{{ mariadb_join_buffer_size }}"
join_buffer_space_limit = "{{ mariadb_join_buffer_space_limit }}"
bulk_insert_buffer_size = "{{ mariadb_bulk_insert_buffer_size }}"

# Other settings.
wait_timeout = {{ mariadb_wait_timeout }}
connect_timeout =  {{ mariadb_connect_timeout }}
interactive_timeout = {{ mariadb_interactive_timeout }}
lower_case_table_names = {{ mariadb_lower_case_table_names }}
thread_pool_size = {{ mariadb_thread_pool_size }}
concurrent_insert = {{ mariadb_concurrent_insert }}
event_scheduler = {{ mariadb_event_scheduler }}

# InnoDB settings.
{% if mariadb_supports_innodb_large_prefix and mariadb_version is version('10.3', operator='lt') %}
# Deprecated in 10.3: https://mariadb.com/docs/reference/es/system-variables/innodb_large_prefix/
innodb_large_prefix = {{ mariadb_innodb_large_prefix }}
innodb_file_format = {{ mariadb_innodb_file_format }}
{% endif %}
innodb_file_per_table = {{ mariadb_innodb_file_per_table }}
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_log_file_size = {{ mariadb_innodb_log_file_size }}
innodb_log_buffer_size = {{ mariadb_innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mariadb_innodb_flush_log_at_trx_commit }}
innodb_lock_wait_timeout = {{ mariadb_innodb_lock_wait_timeout }}
innodb_flush_method = {{ mariadb_innodb_flush_method }}

[mariadbdump]
quick
max_allowed_packet = {{ mariadb_mariadbdump_max_allowed_packet }}

[mariadbd_safe]
pid-file = {{ mariadb_pid_file }}

!includedir {{ mariadb_config_include_dir }}
