# {{ ansible_managed }}
#DAEMON_OPTS=""
RUNDIR={{ opendkim_rundir_folder }}
SOCKET={{ opendkim_socket }}
USER={{ opendkim_user }}
GROUP={{ opendkim_group }}
PIDFILE={{ opendkim_pid }}
EXTRAAFTER={{ opendkim_extraafter }}
